{{ 'section-looks-details.css' | asset_url | stylesheet_tag }}

{% assign title = metaobject.image_title %}
{% assign description = metaobject.image_description | metafield_tag %}
{% assign images = metaobject.images.value %}
{% assign name_model = metaobject.model_reference.value.model_name %}
{% assign image_count = 0 %}
{% assign list_products = metaobject.product_reference.value %}
{% assign product_count = 0 %}
{% assign price_total = 0 %}
{% assign first_option_name = '' %}

{% for image in images %}
  {% assign image_count = image_count | plus: 1 %}
{% endfor %}

{% for product in list_products %}
  {% assign product_count = product_count | plus: 1 %}
  {% assign price_total = price_total | plus: product.selected_or_first_available_variant.price %}

  {% for option in product.options_with_values %}
    {% assign first_option_name = option.name %}
    {% break %}
  {% endfor %}
{% endfor %}

<div class="details_container page-width">
  <div class="details_header_wrap">
    {% if title != null %}
      <h1 class="details_title">{{ title }} Look von {{ name_model }}</h1>
    {% endif %}
    {% if description != null %}
      <div class="details_description">{{ description }}</div>
    {% endif %}
  </div>

  <div class="details_grid_wrap">
    <div class="details_content">
      <div class="details_images_container">
        <div class="details_image_wrapper">
          <div class="details_image_wrapper">
            {% if image_count > 1 %}
              <div class="image_arrow_left image_arrow">❮</div>
            {% endif %}
            <div class="details_image_slider">
              <div class="details_slider_track">
                {% for image in images %}
                  <div class="details_slide">
                    {{ image | image_url: width: 575, height: 766 | image_tag }}
                  </div>
                {% endfor %}
              </div>
            </div>
            {% if image_count > 1 %}
              <div class="image_arrow_right image_arrow">❯</div>
            {% endif %}
          </div>
        </div>

        <div class="details_image_thumbnails">
          {% for image in images %}
            <div
              class="details_thumbnail_image"
              data-index="{{ forloop.index0 }}"
              {% if forloop.first %}
                selected
              {% endif %}
            >
              {{ image | image_url: width: 120, height: 184.117 | image_tag }}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="details_products_content">
      {% for product in list_products %}
        {% assign p_title = product.title %}
        {% assign p_image = product.featured_image.src %}
        {% assign p_vendor = product.vendor %}
        {% assign p_vendor = product.vendor %}
        {% assign p_link = product.url %}
        {% assign p_price = product.selected_or_first_available_variant.price | money %}
        {% assign p_compare_at_price = product.selected_or_first_available_variant.compare_at_price | money %}
        {% assign p_variants = product.variants %}

        <div class="details_product_card">
          <div class="details_product_data_wrap">
            <div class="details_product_image_wrap">
              <a class="details_product_overlay_link" href="{{ p_link }}"></a>
              <div class="details_product_image">{{ p_image | image_url: height: 200 | image_tag }}</div>
            </div>

            <div class="details_product_info_wrap">
              <div class="details_product_title_wrap">
                <a class="details_product_overlay_link" href="{{ p_link }}"></a>
                <div class="details_product_title">{{ p_title }}</div>
              </div>

              {% if p_vendor %}
                <div class="details_product_vendor">
                  {{ p_vendor }}
                </div>
              {% endif %}

              <div class="details_product_prices">
                <div class="product_price">{{ p_price }}</div>
                <div class="product_compare_at_price">{{ p_compare_at_price }}</div>
              </div>

              <div class="details_product_variant_picker">
                <select name="size" class="details_variant_select">
                  <option value="Size">{{ first_option_name }}</option>
                  {% for variant in p_variants %}
                    <option value="{{ variant }}">{{ variant.title }}</option>
                  {% endfor %}
                </select>

                <div class="details_product_add_to_cart_bttn">
                  <button class="details_add_bttn">In den Warenkorb</button>
                </div>
              </div>
            </div>
          </div>
          <hr class="details_product_seperator {% if forloop.last %}seperator_last{% endif %}">
        </div>
      {% endfor %}

      {% if product_count > 0 %}
        <div class="details_product_summary">
          <div class="summary_text">{{ product_count }} Artikel gewählt</div>
          <div class="summary_price">{{ price_total | money }}</div>
          <button class="summary_add_to_cart_all details_add_bttn">Alles in den Warenkorb</button>
        </div>
      {% endif %}
    </div>
  </div>
</div>

<script src="{{ 'section-looks-details.js' | asset_url }}" defer="defer"></script>

{% schema %}
{
  "name": "Looks Details",
  "settings": [],
  "presets": [
    {
      "name": "Looks Details"
    }
  ]
}
{% endschema %}
